@charset "UTF-8";
/* CSS Document */

ul#navWrapper {
/*background-color: #012c46;*/
}
ul#navWrapper a, a:hover {
	text-decoration: none;
	color: #fff;
}
/**********/

#navContainer {
	margin: 0 auto;
	width: 1200px;
	height:50px;

}
#navbar {
	padding: 0px;
	background: #ffffff;
	top: 230px;
	margin: 5px 0 0 88px;
}
.gcb-aux #navbar p {
	height: 12px;
	width: 400px;
	margin: 0px;
	padding: 0px;
	display: none;
}
.gcb-aux ul#navWrapper {
	height: 40px;
}
ul#navWrapper li {
	float: left;
	list-style: none;
}
ul#navWrapper li li {
	float: none;
	list-style: none;
	margin-left: 10px;
	margin-top: 4px;
}
ul#navWrapper li:first-child {
/*	margin-left: 1px;
*/}
ul#navWrapper li li:first-child {
	list-style: none;
	padding-top: 5px;
}
ul#navWrapper ul {
	list-style: none;
	display: none;
	position: relative;
	background-color: rgba(51,51,51,1);
	top: 50px;
	right: 130%;
	height: 200px;
	width: 250px;
	border-style: solid;
	border-color: rgba(102,102,102,1);
}
ul#navWrapper li:hover ul {
	display: list-item;
}
ul#navWrapper a {
	font-weight: bold;
}
#unit1
{
	float:left;
    width:34px;
	height:44px;
	background:url(../../../assets/img/nav.png) 0px 0px;
}

#unit2
{
	float:left;
	width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -35px 0px;
}
#unit3
{
	float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -70px 0px;
}
#unit4
{
	float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -105px 0px;
}
#unit5
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -140px 0px;
}
#unit6
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -175px 0px;
}
#unit7
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -210px 0px;
}
#unit8
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -245px 0px;
}
#unit9
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -280px 0px;
}
#unit10
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -315px 0px;
}
#unit11
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -350px 0px;
}
#unit12
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -385px 0px;
}
#unit13
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -420px 0px;
}
#unit14
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -455px 0px;
}
#unit15
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -490px 0px;
}
#unit16
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -525px 0px;
}
#unit17
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -560px 0px;
}
#unit18
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -595px 0px;
}
#unit19
{
float:left;
width:35px;
	height:44px;
	background:url(../../../assets/img/nav.png) -630px 0px;
}
#unit20
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -666px 0px;
}
#unit21
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -702px 0px;
}
#unit22
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -738px 0px;
}
#unit23
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -774px 0px;
}
#unit24
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -810px 0px;
}
#unit25
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -846px 0px;
}
#unit26
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -882px 0px;
}
#unit27
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -918px 0px;
}
#unit28
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -954px 0px;
}
#unit29
{
	float:left;
width:36px;
	height:44px;
	background:url(../../../assets/img/nav.png) -990px 0px;
}



	
#unit1:hover{width:34px;
	height:44px;
	background:url(../../../assets/img/hover.png) 0px 0px;}
	
#unit2:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -35px 0px;}
	
#unit3:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -70px 0px;}
	
#unit4:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -105px 0px;}
	
#unit5:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -140px 0px;}
	
#unit6:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -175px 0px;}
	
#unit7:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -210px 0px;}
	
#unit8:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -245px 0px;}
	
#unit9:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -280px 0px;}
	
#unit10:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -315px 0px;}
	
#unit11:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -350px 0px;}
	
#unit12:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -385px 0px;}
	
#unit13:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -420px 0px;}
	
#unit14:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -455px 0px;}
	
#unit15:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -490px 0px;}
	
#unit16:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -525px 0px;}
	
#unit17:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -560px 0px;}
	
#unit18:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -595px 0px;}
	
#unit19:hover{width:35px;
	height:44px;
	background:url(../../../assets/img/hover.png) -630px 0px;}
	
#unit20:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -666px 0px;}
	
#unit21:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -702px 0px;}
	
#unit22:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -738px 0px;}
	
#unit23:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -774px 0px;}
	
#unit24:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -810px 0px;}
	
#unit25:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -846px 0px;}
	
#unit26:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -882px 0px;}
	
#unit27:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -918px 0px;}
	
#unit28:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -954px 0px;}
	
#unit29:hover{width:36px;
	height:44px;
	background:url(../../../assets/img/hover.png) -990px 0px;}
	
.current-unit {
	height:50px !important;
}
